body{
margin:0;
font-family:sans-serif;
background:#0f172a;
color:white;
}

.container{
padding:20px;
}

.topBar{
display:flex;
gap:10px;
margin-bottom:15px;
}

input{
padding:10px;
border-radius:8px;
border:none;
}

button{
padding:10px 18px;
border:none;
border-radius:10px;
background:rgba(255,255,255,0.1);
color:white;
cursor:pointer;
backdrop-filter:blur(10px);
}

button:hover{
background:rgba(255,255,255,0.2);
}

.controls{
margin-bottom:20px;
display:flex;
gap:10px;
}

select{
background:rgba(255,255,255,0.08);
color:white;
border:none;
padding:8px 14px;
border-radius:10px;
}

.card{
background:rgba(255,255,255,0.05);
padding:20px;
border-radius:15px;
margin-bottom:20px;
}

.habitRow{
display:flex;
align-items:center;
margin-bottom:10px;
}

.habitTitle{
width:120px;
}

.daysRow{
display:flex;
gap:5px;
flex-wrap:wrap;
}

.dayBox{
width:18px;
height:18px;
border-radius:5px;
background:#64748b;
cursor:pointer;
transition:0.2s;
}

.dayBox.done{
background:#22c55e;
}

.dayBox.today{
outline:2px solid white;
}

.dayBox.disabled{
background:#334155;
cursor:not-allowed;
}

.dateHeader{
display:flex;
gap:5px;
padding-left:120px;
margin-bottom:10px;
flex-wrap:wrap;
}

.dateHeader span{
width:18px;
font-size:10px;
text-align:center;
color:#94a3b8;
}

.stats{
margin-bottom:20px;
display:flex;
gap:20px;
}

.chartsRow{
display:flex;
gap:30px;
flex-wrap:wrap;
}

.chartsRow canvas{
flex:1;
min-width:300px;
max-width:450px;
}
