body {
    font-family: Arial;
    padding: 30px;
    background: #f5f7fb;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #667eea;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

.habit {
    background: white;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
}